{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "airbnb",
    "prettier",
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": "error",
    "react/forbid-prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "import/no-cycle": "off",
    "import/prefer-default-export": "off",
    "import/extensions": "off",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-plusplus": "off",
    "react/jsx-props-no-spreading": "off",
    "no-console": [
      "error",
      {
        "allow": [
          "warn",
          "error",
          "debug"
        ]
      }
    ],
    "consistent-return": "off",
    "import/no-named-as-default": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".js",
          ".jsx",
          ".ts",
          ".tsx"
        ]
      }
    ],
    "jsx-quotes": [
      2,
      "prefer-double"
    ],
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": false,
        "printWidth": 100
      }
    ],
    "import/no-extraneous-dependencies": [
      "error",
      {
        "packageDir": "./",
        "devDependencies": [
          "setupTests.js",
          "**/__tests__/**"
        ]
      }
    ],
    "import/no-unresolved": "off", // https://github.com/import-js/eslint-plugin-import/blob/main/docs/rules/no-unresolved.md#when-not-to-use-it
    "import/no-import-module-exports": "off",
    "no-use-before-define": ["error", {
        "functions": false,
        "classes": true,
        "variables": true,
        "allowNamedExports": false
    }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
       "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ]
  },
  "plugins": [
    "prettier",
    "jest",
    "react-hooks",
    "@typescript-eslint"
  ],
  "root": true,
  "env": {
    "jest/globals": true,
    "browser": true
  },
  "overrides": [
    {
      "files": [
        "reducer.js"
      ],
      "excludedFiles": "e2e/*",
      "rules": {
        "default-param-last": 0
      }
    }
  ]
}