.diurnal {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  justify-content: center;
  align-items: baseline;
  padding: 0 0 2rem 0;

  .btn {
    white-space: nowrap;
  }
  
  .even-spacing {
    padding: 5px;
    display: table;
  }

  &__wrapper {
    width: 100%;
    min-height: 600px;
    background-size: cover;
    padding: 4rem;

    @media screen and (width <= 780px) {
      padding: 2rem;
      margin-top: 5%;
    }

    @media screen and (width <= 420px) {
      padding: 2rem;
      // margin-top: 25rem;
    }

    @media screen and (width <= 415px) {
      padding: 2rem;
      // margin-top: 30rem;
    }

    @media screen and (width <= 400px) {
      padding: 2rem;
      // margin-top: 48rem;
    }

    .card-and-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .buttons-under-card {
      display: flex;
      justify-content: center;
    }

    .main-game-contents {
      padding: 0 20px
    }
  }
}