.diurnal {
  display: flex;
  height: 100vh;
  width: 100vw;
  min-width: 100vw;
  justify-content: center;
  align-items: center;
  background: #e1f8ff;

  &__night {
    background: #00008b;
  }
  
  &__wrapper {
  
    p {
      color: red;
    }
  }
}